/*||IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap');

/*||RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #012;
  font-size: 10px;
  scroll-behavior: smooth;
}

a:any-link {
  color: #eeff88;
  text-decoration: none;
  font-weight: bold;
}

body {
  color: whitesmoke;
  font-family: "Jost", sans-serif;
  font-size: clamp(1rem, 2.5vh, 2.5rem);
  line-height: 1.4;
}

/*||HEADER*/
header {
  font-family: 'Roboto Mono', monospace;
}

.header_logo {
  background-color: #4e1fb3;
  align-items: center;
  color: #eeff88;
  display: flex;
  font-weight: 700;
  height: 40px;
}

.header_logo img {
  filter: invert(98%) sepia(84%) saturate(692%) hue-rotate(12deg) brightness(102%) contrast(102%);
  max-width: 2em;
  min-width: 30px;
}

/*||MAIN*/
main {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 340px;
  padding: clamp(1rem, 4vw, 6rem);
}

img {
  cursor: pointer;
  display: block;
  height: auto;
  max-width: 100%;
}

/*||LOGO*/
.char_logo {
  align-items: center;
  color: #f1e5db;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 520px;
}

.char_logo img {
  filter: invert(100%) sepia(75%) saturate(6350%) hue-rotate(330deg) brightness(115%) contrast(110%);
  max-width: 200px;
  min-width: 50px;
  width: 4em;
}

.logo_title {
  color: #f1e5db;
  font-family: "Tilt Neon", sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
}

.logo_subtitle {
  color: #03ffef;
  font-size: 2em;
  margin: 0.2em;
  filter: drop-shadow(2px 2px 30px #03ffef);
}

.logo_description {
  font-style: italic;
}

/*||CHARACTER*/
.char_container {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.char_image {
  flex: 1;
  flex-basis: 18em;
  max-width: 470px;
  position: relative;
}

/*||INFO*/
.char_info {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 14em;
  gap: 10px;
}

.char_items {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7em;
  gap: 10px;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
}

/*||ITEMS*/
li:nth-child(1) {
  background: url(./images/blue_vol_01_512x.jpg) no-repeat bottom left;
}

li:nth-child(2) {
  background: url(./images/blue_vol_02_512x.jpg) no-repeat bottom left;
}

li:nth-child(3) {
  background: url(./images/blue_vol_03_512x.jpg) no-repeat bottom left;
}

li:nth-child(4) {
  background: url(./images/blue_vol_04_512x.jpg) no-repeat bottom left;
}

li:nth-child(5) {
  background: url(./images/blue_vol_05_512x.jpg) no-repeat bottom left;
}

li:nth-child(6) {
  background: url(./images/blue_vol_06_512x.jpg) no-repeat bottom left;
}

ul .item {
  background-size: 128px;
  height: 150px;
  width: 290px;
}

.item p {
  float: left;
  font-weight: bold;
  padding: 30px 0 10px 150px;
  text-wrap: wrap;
}

/*||CAPTION*/
.image_caption {
  bottom: 0;
  position: absolute;
  right: 20%;
  width: 60%;
  z-index: 1;
}

.image_caption {
  backdrop-filter: blur(5px) saturate(200%);
  background-color: hsla(198, 40%, 80%, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(8, 252, 252, 0.778);
  box-shadow: 0 0 10px rgba(8, 61, 252, 0.778);
  color: #dbf2f2;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.6;
  padding: 10px;
}

.image_caption span {
  border: 2px solid black;
  display: inline-block;
  height: 1em;
  margin: 0 10px;
  width: 1em;
}

.image_caption p:first-child span {
  background-color: whitesmoke;
  border-radius: 50%;
}

.image_caption p:last-child span {
  background-color: #03ffef;
}

/*||FOOTER*/
.footer {
  color: #f9faf8;
  background-color: #4e1fb3;
  font-family: monospace;
  padding: 20px 30px;
}

.footer p {
  margin-bottom: 20px;
}

.footer-button {
  background-color: #4e1fb3;
  border-radius: 5px;
  filter: invert(1);
  padding: 5px
}

.footer-info {
  display: block;
  padding-top: 10px;
}

.footer-info img {
  display: inline;
  width: 25px;
  margin-bottom: -4px;
  margin-right: -4px;
}

/*||HOVER*/
.footer-button:hover {
  filter: invert(1) brightness(1.2);
}

.image_caption:hover,
.item:hover {
  filter: brightness(1.2);
}